.grid-container{


    display: grid;
    margin-top: 20px;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    gap: 60px;

}

p{

  margin-left: 40px;
  display: flex inline;
  font-size: 30px;
  border: 2px black solid;
  padding: 3px;

}

.grid-item{


    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    text-align: center;
    font-size: 100px;
    cursor: pointer;


    /* text-indent: 100%; /*Hide text with these lines*/
    /* white-space: nowrap;
    overflow: hidden;  */

}


  .grid-item:hover span{
    display:none ;
    
    }

    .grid-item:hover:before {
      content: "x";
    }

.i2{

    background-color: rgb(145, 46, 46);



}    

#okbu{

    justify-content: center;
    margin-left: 920px;
    margin-top: 150px;

}



.button-35{
  background:  url("./pics/moon-fill.svg") no-repeat ;    
  background-position: 10px center;
  align-items: center;
  border-radius : 12px;
  box-shadow : transparent 10px 10px 0 5px,rgba(0, 0, 0, 0.1) 5px 10px 10px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space : nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}







/* CSS */
.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 80px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #000000 0, #000000 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#ff2a00 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(0, 0, 0) 0%, rgb(34, 34, 34) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #000000 0, #000000 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}